body {
    background-image: "./assets/backdrop.jpg";
    background:url(./assets/backdrop.jpg);
}

.tile {
    margin: 10px;
    border: solid black 2px;
    background-color: yellow;
    border-radius: 10px;
}

.space {
    padding: 10px;
}